<%- include('../includes/header.ejs')  %>
</body>
</html>
    <%- include('../includes/navigation.ejs') %>
    <% if (prods.length > 0) { %>
        <div class="grid">
            <% for(let product of prods) {%>
            <article class="card.product-item">
                <header class="card-header">
                    <h1 class="product-title"><%= product.title %></h1>
                    <div class="card-image">
                        <img class="" src="https://i.17173cdn.com/0561y4/YWxqaGBf/gamebase/screenshot/TfLzNObmCgyesdk.jpg!a-3-480x.jpg" alt="诺基亚N8" mode="aspectFit|aspectFill|widthFix" lazy-load="false" binderror="" bindload=""/>
                        <div class="card-content">
                            <h2 class="product-price"> $59.9</h2>
                            <p class="product-description">潮流终端机，新款诺基亚智能手机</p>
                        </div>
                        <div class="card-actions">
                            <button class="btn"> 添加到购物车</button>
                        </div>
                    </div>
                </header>
            </article>
            <% } %>
        </div>
        <% } else { %>
            <h1>Empty...</h1>
        <% }%>
<%- include('../includes/end.ejs') %>
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商店</title>
    <link rel="stylesheet" href="/css/index.css" >
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <header class="shop-header">
        <nav class="shop-nav">
            <ul class="shop-list">
                <li class="shop-list-item"><a class="active" href="/">商店</a></li>
                <li class="shop-list-item"><a class="active" href="/admin/add-product">添加商品</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <% if (prods.length > 0) { %>
        <div class="grid">
            <% for(let product of prods) {%>
            <article class="card.product-item">
                <header class="card-header">
                    <h1 class="product-title"><%= product.title %></h1>
                    <div class="card-image">
                        <img class="" src="https://i.17173cdn.com/0561y4/YWxqaGBf/gamebase/screenshot/TfLzNObmCgyesdk.jpg!a-3-480x.jpg" alt="诺基亚N8" mode="aspectFit|aspectFill|widthFix" lazy-load="false" binderror="" bindload=""/>
                        <div class="card-content">
                            <h2 class="product-price"> $59.9</h2>
                            <p class="product-description">潮流终端机，新款诺基亚智能手机</p>
                        </div>
                        <div class="card-actions">
                            <button class="btn"> 添加到购物车</button>
                        </div>
                    </div>
                </header>
            </article>
            <% } %>
        </div>
        <% } else { %>
            <h1>Empty...</h1>
        <% }%>
    </main>
</body>
</html> -->